:root {
	--color-primary: #4caf50;
	--color-light: #66bb6a;
	--color-lightest: #e8f5e9;
	--color-text: #212121;
	--color-text-light: #757575;

	--max-width: 1024px;

	--container-background-color: #f5f5f5;
	--container-border: 1px solid #d0d0d0;
	--shadowed: 0px 1px 3px #757575;

	font-family: 'Raleway', sans-serif;
	color: var(--color-text);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	color: var(--color-text);
	text-decoration: underline;
}

.container {
	background-color: var(--container-background-color);
	border: var(--container-border);
}

.shadowed {
	box-shadow: var(--shadowed);
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
	border-top: 0.5em solid var(--color-primary);
	border-bottom: 0.5em solid var(--color-primary);
}

main {
	width: 100%;
	max-width: var(--max-width);
	margin: 1em auto;
	padding: 0 1em;
	box-sizing: border-box;
}

#nav-wrapper {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
}

nav ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 1.1em;
}

nav a {
	color: var(--color-text);
}

nav a:hover {
	color: var(--color-primary);
}

#nav-pages {
	float: left;
}

#nav-social {
	float: right;
}

#nav-social > li {
	margin-left: 1em;
}

@media only screen and (min-width: 37.5em) {

	#nav-pages > li {
		margin-right: 1em;
	}

}

@media only screen and (max-width: 37.5em) {

	#nav-pages::before {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		width: 1em;
		height: 1em;
		content: "\f0c9";
	}

	#nav-pages > li {
		display: none;
	}

	#nav-pages {
		position: relative;
	}

	#nav-pages:hover::before {
		display: none;
	}

	#nav-pages:hover {
		position: absolute;
		background-color: var(--container-background-color);
		border: var(--container-border);
		padding: 1em;
	}

	#nav-pages:hover li {
		display: block;
		margin-bottom: 0.5em;
	}

}
